.card {
    background-color: #C4C4C4;
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}

.card span{
    width: 40px;
    text-align: center;
    color: red;
    z-index: 5;
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: yellow;
    border-radius: 50px;
}

.card img{
    z-index: 4;
}

.card__content{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.card__title{
    margin: 0;
    color: black;
    text-decoration: none;
}

.card__price {
    text-align: center;
    font-size: 12px;
}

.card__disc{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.disc__span{
    text-decoration: line-through;
}

.card__btn{
    padding: 6px 12px;
    background-color: darkslateblue;
    color: white;
    border: 0;
    border-radius: 20px;
}

.card__btn:hover{
    opacity: 0.5;
}