body{
  margin: 0;
  display: flex;
  justify-content: center;
}

.container{
  width: 1140px;
  display: flex;
  justify-content: space-around;
}

h1{
  text-align: center;
}

.active{
  color: #5E8BCE!important;
  font-size: 17px;
}

.none{
  display: none!important;
}

.flex{
  display: flex;
  justify-content: center;
}